#!/bin/bash

createdb {{ diff.db_name }} && echo "OK"

psql {{ diff.db_name }} <<EOF

{% for table in diff.tables_added %}
CREATE TABLE {{ table.name }} (
{% for field in table.fields %}    {{ field.name }} {{ field.postgres }}{% if not loop.last %},
{% endif %}{% endfor %}
);{% endfor %}

{% for table in diff.tables_deleted %} DROP TABLE {{ table.name }};
{% endfor %}

{% for rename in diff.tables_renamed %}ALTER TABLE {{ rename.old_name }} RENAME TO {{ rename.new_name }};
{% endfor %}

{% for field_diff in diff.fields_added %}
ALTER TABLE {{ field_diff.table_name }} ADD COLUMN {{ field_diff.field.name }} {{ field_diff.field.postgres }};
{% endfor %}

{% for field_diff in diff.fields_deleted %}
ALTER TABLE {{ field_diff.table_name }} DROP COLUMN {{ field_diff.field.name }};
{% endfor %}

/*

FIELDS_CHANGED: {{ diff.fields_changed }}

*/

EOF
